:root
{
	cursor: default;
	--Splt0: 50%;/*Stack Text Seperator*/
	--Splt1: 80%;/*Stack Consol Seperator*/
	--Splt2: 100%;
	--splitter: 10px;
	--gridX: 4;
	--gridY: 6;
}

body{
	overflow: hidden;
	margin: 0;
	color: white;
	font-family: sans-serif;
	font-size: var(--ID1);
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr;
}

#header{
    display: inline-block;
    font-size: 30px;
}

#codeArea{
    resize: none;
	overflow-y: scroll;
	resize: none;
    width: 100vw;
	height: 100%;
	background-color: rgb(217, 242, 244);
    margin: 0;
	padding: 0;
	border: none;
    outline: none;
}

#outputArea{
    background-color: rgb(217, 242, 244);
    /* position: absolute; */
    height: 100%;
    resize: none;
    overflow-y: scroll;
    margin: 0;
	padding: 0;
    border: none;
    outline: none;
}

#playWrapper{
    background-color: rgb(117, 139, 139);
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	resize: none;
	width: 100%;
	height: 100%;
	border: none;
	position: relative;
}

#playArea{
	overflow: hidden;
	padding: 2%;
    background-color: rgb(183, 217, 217);
	border-radius: 5%;
	position: absolute;
	margin: 0 0 auto;

	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	height: calc(100% * var(--gridx) / var(--gridY));
	aspect-ratio: var(--gridY) / var(--gridX);
	/*width: calc(100% * var(--gridY) / var(--gridX));*/
	min-height: 250px;
	max-height: 75%;
}

.item{
	z-index: 10;
	position: absolute;
	height: calc(100% / var(--gridX) - 10px);
	width: calc(100% / var(--gridY) - 10px);
	/*transform: scale(1.0);*/
	transition: 0.5s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.moveLeft{
	animation-name: left;
}

.moveRight{
	animation-name: right;
}

.moveUp{
	animation-name: up;
}

.moveDown{
	animation-name: down;
}

@keyframes left {
	to {transform: translate(-100%, 0px) scale(1.0)}
}
@keyframes right {
	to {transform: translate(100%, 0px) scale(1.0)}
}
@keyframes up {
	to {transform: translate(0px, -100%) scale(1.0)}
}
@keyframes down {
	to {transform: translate(0px, 100%) scale(1.0)}
}

.backBlock{
	display: inline-block;
	background-color: rgb(171, 214, 237);
	border: 1px solid #86a0aa;
	border-radius: 10%;
	height: calc(100% / var(--gridX) - 2px);
	width: calc(100% / var(--gridY) - 2px);

}

/*Console*/
.S_Console{
	overflow-y: hidden;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: grid;
	grid-auto-rows: 1fr auto;
}

a
{
	color: #ffa;
}
.credit
{
	display: inline-block;
	padding: 2px;
	border: 0 solid #fff;
	border-width: 0 0 0 10px;
	font-size: 10;
	width: 30%;
}
/*Buttons*/
.S_Buttons{
	width: 100%;
	background-color: rgba(50,50,50);
}

.wrapper{
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: var(--Splt2) var(--splitter) auto;
	grid-auto-rows: var(--Splt1) var(--splitter) auto;
}
#splitter{
	user-select: none;
	background-color: aqua;
	width: var(--splitter);
	height: 100%;
}
.splt_Y0{
	cursor: col-resize;
	user-select: none;
	background-color: aqua;
	width: var(--splitter);
	height: 100%;
}
.splt_Y1{
	cursor: col-resize;
	user-select: none;
	background-color: aqua;
	width: var(--splitter);
	height: 100%;
	grid-column: 2;
	grid-row: 1 / 4;
}
.splt_X0{
	cursor: row-resize;
	user-select: none;
	background-color: aqua;
	height: var(--splitter);
	width: 100%;
	grid-column: 1;
	grid-row: 2;
}
.Edit{
	overflow: hidden;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: var(--Splt0) var(--splitter) auto;
	grid-auto-rows: auto;
}
