#wrapper{

}

#header{
    display: inline-block;
    font-size: 30px;
}

#codeArea{
    resize: none;
	overflow-y: scroll;
	resize: none;
    width: 100vw;
	height: 100%;
	background-color: rgb(217, 242, 244);
    margin: 0;
	padding: 0;
	border: none;
    outline: none;
}

#outputArea{
    background-color: rgb(217, 242, 244);
    /* position: absolute; */
    height: 100%;
    resize: none;
    overflow-y: scroll;
    margin: 0;
	padding: 0;
    border: none;
    outline: none;
}

#playWrapper{
    background-color: rgb(117, 139, 139);
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	resize: none;
	width: 100%;
	height: 100%;
	border: none;
	position: relative;
}

#playArea{
	overflow: hidden;
	padding: 2%;
    background-color: rgb(183, 217, 217);
	border-radius: 5%;
	position: absolute;
	margin: 0 0 auto;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	height: 100%;
	aspect-ratio: 1;
	min-height: 250px;
	max-height: 75%;
}

.item{
	z-index: 10;
	position: absolute;
	height: calc(100% / var(--playAreaBlocks) - 10px);
	width: calc(100% / var(--playAreaBlocks) - 10px);
	transform: scale(0.8);
	background-color: rgb(0, 170, 37);
	border: 1px solid #51ff00;
	border-radius: 45%;
	transition: 0.5s;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
}

.moveLeft{
	animation-name: left;
}

.moveRight{
	animation-name: right;
}

.moveUp{
	animation-name: up;
}

.moveDown{
	animation-name: down;
}

@keyframes left {
	to {transform: translate(-100%, 0px) scale(0.8)}
}
@keyframes right {
	to {transform: translate(100%, 0px) scale(0.8)}
}
@keyframes up {
	to {transform: translate(0px, -100%) scale(0.8)}
}
@keyframes down {
	to {transform: translate(0px, 100%) scale(0.8)}
}

.block{
	position: absolute;
	height: calc(100% / var(--playAreaBlocks) - 2px);
	width: calc(100% / var(--playAreaBlocks) - 2px);
	background-color: rgb(255, 166, 0);
	border: 1px solid #ffed4c;
	border-radius: 10%;
}

.backBlock{
	display: inline-block;
	background-color: rgb(171, 214, 237);
	border: 1px solid #86a0aa;
	border-radius: 10%;
	height: calc(100% / var(--playAreaBlocks) - 2px);
	width: calc(100% / var(--playAreaBlocks) - 2px);

}

/*Console*/
.S_Console{
	overflow-y: hidden;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	display: grid;
	grid-auto-rows: 1fr auto;
}







:root
{
	cursor: default;
	--Splt0: 50%;/*Stack Text Seperator*/
	--Splt1: 80%;/*Stack Consol Seperator*/
	--Splt2: 100%;
	--splitter: 10px;
	--playAreaBlocks: 4;
}

body{
	overflow: hidden;
	margin: 0;
	color: white;
	font-family: sans-serif;
	font-size: var(--ID1);
	display: grid;
	height: 100%;
	grid-template-rows: auto 1fr;
}

a
{
	color: #ffa;
}
.credit
{
	display: inline-block;
	padding: 2px;
	border: 0 solid #fff;
	border-width: 0 0 0 10px;
	font-size: 10;
	width: 30%;
}
.col0
{
	color: #000;
}
/*Common Used Styles*/
#error
{
	color: var(--ID6);
}
#func
{
	color: var(--ID5);
}
.overflow-hidden
{
	overflow: hidden;
}
.max-width
{
	margin: 0 auto;
	max-width: 1400px;
	width: 90%;
	padding-bottom: 10px;
}
.hiddenObj
{
	animation: slide-out 0.4s forwards;
}
.visibleObj
{
	animation: slide-in 0.5s forwards;
}
@keyframes slide-in{
	from{height: 0%;}
	to{height: 100%;}
}
@keyframes slide-out{
	from{height: 100%;}
	to{height: 0%;}
}
.active
{
	filter: hue-rotate(100deg);
}
.hover0{ user-select: none;}.hover0:hover
{
	filter: hue-rotate(100deg);
}
/*Menu*/
.Menu
{
	width: 100%;
	min-width: 400px;
	overflow-y: scroll;
	font-size: 16;
	background-color: #0f0f20f0;
	z-index: 20;
	grid-column: 1;
	grid-row: 2;
}
.M_Preferences
{
	display: inline-block;
}
.M_W{
	width: 300px;
}
.M_Color{
	float: right;
	width: 18px;
	height: 18px;
	padding: 0;
	margin: 0;
}
.id_Text{
	display: block;
	width: 150px;
}
/*Buttons*/
.S_Buttons{
	width: 100%;
	background-color: rgba(50,50,50);
}
.button0{
	display: inline-block;
	background-color: #50ff50;
	padding: 10px;
}
/*Editor*/
.S_Text{
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	resize: none;
	width: 100%;
	height: 100%;
	background-color: #0fa;
	border: none;
	color: var(--ID3);
	font-size: var(--ID1);
}
/*Stack*/
.S_Add_Node{
	padding: 10px;
	width: 100%;
	background-color: #50ff50;
	border-radius: 10px;
	min-width: 100px;
	font-size: 15px;
}
.S_Node{
	border-radius: 10px 0 10px 10px;
	margin: 5px;
	background-color: lightblue;
	cursor: move;
	overflow: hidden;
	min-width: 100px;
}
.Node_Delete{
	color: #fff;
	float: right;
	border: 0;
	background-color: #0000;
	font-size: 20px;
}
.Node_Delete:hover{
	background-color: #f00f;
}
.Node_Select{
	border-radius: 5px 0 0 0;
	padding: 4.5px;
	border: 0;
}
.Node_Container{
	display:inline-block;
	width: 100%;
	background-color:gainsboro;
}
.stack {
	padding: 10px;
	overflow: hidden;
	overflow-y:auto;
	background-color: #555555;
	grid-column: 1;
}
.S_C_Edit{
	font-size: var(--ID1);
	background-color: var(--ID8);
	color: var(--ID9);
	grid-row: 2;
	border: 0;
}
.S_C_Text{
	background-color: var(--ID4);
	height: 100%;/*var(--ID7);*/
	overflow-y: hidden;
	color: rgb(31, 10, 10);
	grid-row: 1;
}
.S_C_Toggle{
	background-color: #50ff50;
}


/*New*/
.wrapper{
	grid-column: 1;
	grid-row: 2;
	display: grid;
	grid-template-columns: var(--Splt2) var(--splitter) auto;
	grid-auto-rows: var(--Splt1) var(--splitter) auto;
}
#splitter{
	user-select: none;
	background-color: aqua;
	width: var(--splitter);
	height: 100%;
}
.splitter{
}
.splt_Y0{
	cursor: col-resize;
	user-select: none;
	background-color: aqua;
	width: var(--splitter);
	height: 100%;
}
.splt_Y1{
	cursor: col-resize;
	user-select: none;
	background-color: aqua;
	width: var(--splitter);
	height: 100%;
	grid-column: 2;
	grid-row: 1 / 4;
}
.splt_X0{
	cursor: row-resize;
	user-select: none;
	background-color: aqua;
	height: var(--splitter);
	width: 100%;
	grid-column: 1;
	grid-row: 2;
}
.Edit{
	overflow: hidden;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	grid-template-columns: var(--Splt0) var(--splitter) auto;
	grid-auto-rows: auto;
}
.view{
	overflow: hidden;
	background-color: lightblue;
	grid-column: 3;
	grid-row: 1 / 4;
}